/DungeonShooting_Godot/android
/DungeonShooting_Godot/.godot
/Script_Vscode_Plugin/node_modules
/DScript/DScript_Compiler/obj
/DScript/DScript_Compiler/bin
/DScript/DScript_Runtime/obj
/DScript/DScript_Runtime/bin
/DScript/DScript_Runtime_Generate/obj
/DScript/DScript_Runtime_Generate/bin
/DScript/DScript_Runtime_Test/obj
/DScript/DScript_Runtime_Test/bin
/DScript/DScript_Compiler_Test/bin
/DScript/DScript_Compiler_Test/obj
/DScript/DScript_Runtime/Backups
/DScript/DScript.sln.DotSettings.user
**/.idea
**/~$*