/DungeonShooting_Godot/android
/DungeonShooting_Godot/.idea
/Script_Compiler/.idea
/Script_Compiler/Script_Compiler/bin
/Script_Runtime/.idea
/Script_Runtime/Script_Runtime/bin
/Script_Runtime/Script_Runtime_Test/bin
/Script_Compiler/Script_Compiler/obj
/Script_Runtime/Script_Runtime/obj
/Script_Runtime/Script_Runtime_Test/obj
/Script_Runtime/.vs
/Script_Runtime/Script_Runtime/Backups
/Script_Runtime/Script_Runtime_Generate/bin
/Script_Runtime/Script_Runtime_Generate/obj
